<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #000000;
      color: #ecf0f1;
      display: flex;
      justify-content: center;
      height: 100vh;
      margin: 0;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>404</h1>
    <img src=/images/lotr-cursed.jpg>
    <h2>YOU SHALL NOT PASS!</h2>
    <p>It seems this page has vanished like a Hobbit wearing the One Ring.</p>
    <a href="/" class="button">Return to the Shire</a>
  </div>
</body>
</html>
